#contentList {
	overflow-x: auto;
}

#contentList div {
	white-space: nowrap;
}

#contentList > div.tree-node:first-child > span {
	font-size: 130%;
	line-height: 200%;
}

#contentList div i {
	margin-right: 5px;
}

#contentList div a.label {
	vertical-align: 2px;
}

#contentList .tree-node-collapsed .tree-node,.tree-node-collapsed .tree-node-collapsed {
	display: none;
}
