.tree-container {
	overflow-x: auto;
}

.tree-container div {
	white-space: nowrap;
}

.tree-container > div.tree-node:first-child > span {
	font-size: 130%;
	line-height: 200%;
}

.tree-container div i {
	margin-right: 5px;
}

.tree-container div a.label {
	vertical-align: 2px;
}

/*.tree-container div.collapsed div.tree-node {
	display: none;
}*/

.tree-container > div.tree-node > span.tree-label {
	margin-left: 0;
}

.tree-container > div.tree-node div.tree-node > span.tree-label {
	margin-left: 0;
}

.tree-container > div.tree-node div.tree-node div.tree-node > span.tree-label {
	margin-left: 16px;
}

.tree-container > div.tree-node div.tree-node div.tree-node div.tree-node > span.tree-label {
	margin-left: 32px;
}

.tree-container > div.tree-node div.tree-node div.tree-node div.tree-node div.tree-node > span.tree-label {
	margin-left: 48px;
}